path {
    fill: none;
}
.x-axis path, .x-axis line, .y-axis path, .y-axis line {
    stroke: gray;
    stroke-opacity: 0.5;
}
.line {
    stroke: gray;
    stroke-width: 1.5px;
    stroke-opacity: 0.5;
}
