body {
    font-family: 'Lato', sans-serif;
}
#title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    font-size: 1.7em;
}
svg {
    display: block;
    margin: 0 auto;
}
path {
    fill: none;
}
.axis path, .axis line {
    stroke: gray;
    stroke-opacity: 0.5;
}
.label {
    fill: gray;
    opacity: 0.7;
}
.area.detail {
    fill: #a6cee3;
    stroke-width: 0;
    opacity: 0.4;
}
.line {
    opacity: 1;
}
.line.detail {
    stroke: #a6cee3;
    stroke-width: 1.5px;
}
.line.overview {
    stroke: #1f78b4;
    stroke-width: 2px;
}
.point {
    fill: white;
    opacity: 1;
}
.point.detail {
    stroke: #a6cee3;
    stroke-width: 1.5px;
}
.point.overview {
    stroke: #1f78b4;
    stroke-width: 2px;
}
.brush .extent {
    stroke: black;
    fill-opacity: 0.125;
    shape-rendering: crispEdges; 
}
.brush .handle {
    stroke: black;
    fill-opacity: 0.125; 
}
