body {
    font-family: 'Lato', sans-serif;
}
#title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    font-size: 1.7em;
}
#instructions {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
svg {
    display: block;
    margin: 0 auto;
}
path {
    fill: none;
}
.axis path, .axis line {
    stroke: gray;
    stroke-opacity: 0.5;
}
.label {
    fill: gray;
    opacity: 0.7;
}
.label.x.focus {
    opacity: 0.9;
}
.area.focus {
    fill: #1f78b4;
    stroke-width: 0;
    opacity: 0.2;
}
.line {
    opacity: 1;
}
.line.focus {
    stroke: #1f78b4;
    stroke-width: 1.5px;
}
.line.context {
    stroke: #1f78b4;
    stroke-width: 2px;
}
.point {
    fill: white;
    opacity: 1;
}
.point.focus {
    stroke: #1f78b4;
    stroke-width: 1.5px;
}
.point.context {
    stroke: #1f78b4;
    stroke-width: 2px;
}
.brush .extent {
    stroke: black;
    opacity: 0.125;
    shape-rendering: crispEdges; 
}
.annotation.focus {
    cursor: pointer;
    font-size: .7em;
}
